@charset "UTF-8";
/* место для вашего кода */
body {
  width: 1100px;
}

.text-decoration-none {
  text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.header {
  display: flex;
  margin: 24px 42px;
  align-items: center;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  padding-top: 68px;
}

.header__links {
  display: flex;
}

.header__info {
  width: 206px;
}

.header__mail {
  display: block;
}

.header__item {
  display: inline;
}
.header__item:nth-child(2)::after, .header__item:nth-child(2)::before {
  content: url(../images/list_marker.svg);
  margin: 0 12px;
}

.header__logo {
  margin-left: 40px;
  margin-right: 192px;
  display: block;
}

.main {
  margin-top: 90px;
}

.about {
  background-image: url(../images/cover.jpg);
  width: 1100px;
  height: 758px;
  background-position: center center;
  background-size: cover;
  font-family: Raleway;
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 178px;
}

.about__background {
  background-color: rgba(0, 0, 0, 0.5882352941);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__titles_wrapper {
  display: flex;
  flex-direction: column;
  margin: 164px 70px 0;
}

.about__title {
  width: 100%;
  letter-spacing: 21px;
}

.about__title_left {
  display: flex;
  margin-left: -22px;
}

.about__title_center {
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

.about__title_right {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 38px;
}

.about__subtitle {
  font-size: 24px;
  font-weight: normal;
}

.about__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 50px;
  margin-left: 34px;
}

.about__btn {
  width: 256px;
  height: 52px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  margin-right: 10px;
}

.lots {
  margin-bottom: 180px;
}

.lots__list {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 28px;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__wrapper {
  display: flex;
  gap: 24px;
  padding-left: 24px;
}

.lots__card {
  width: 334px;
  height: 564px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 40px;
}

.lots__title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  padding-top: 12px;
}

.lots__info {
  font-size: 20px;
  padding-bottom: 12px;
}

.lots__card_first {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.589)), url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.lots__card_second {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.589)), url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.lots__card_third {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.589)), url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.lots__link {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 30px;
  display: block;
  margin-left: 64px;
}

.info {
  display: flex;
  margin-bottom: 182px;
}

.info__logo {
  position: relative;
  min-width: 240px;
  height: 240px;
  border-radius: 50% 50%;
  background-color: #000;
  margin-left: 72px;
}

.info__svg {
  position: absolute;
  left: 50px;
  top: 70px;
}

.info__wrapper {
  margin-left: 70px;
}

.info__title {
  padding-top: 104px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.info__texts {
  font-size: 20px;
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.info__text {
  width: 690px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding-bottom: 84px;
}

.footer__about {
  line-height: 24px;
}

.footer__list {
  list-style: none;
}

.footer__adress {
  width: 206px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  padding-left: 34px;
  line-height: 22px;
  letter-spacing: 1px;
}

.footer__socials {
  display: flex;
  gap: 48px;
}